{% extends 'base.html.twig' %}

{% block title %}Hello ContributorsController!{% endblock %}

{% block body %}

<section class="container mb-5">
  <h2>comment devenir contributeur ?</h2>
  <p>c'est simple il suffit de creer un cour correct</p>
  <a class="btn go" href="{{ path('courses_new')}}">Devenir contributeur</a>
</section>

<h2 class="container" >list contributeur</h2>
<table class="table table-striped container">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nickname</th>
      <th scope="col">listes de ses cours</th>
      
    </tr>
  </thead>
  <tbody>
{% for contributor in contributors %}

    <tr>
      <th scope="row">{{ contributor.getUser.getId}}</th>
      <td>{{ contributor.getUser.getNickname}}</td>
      <td><a  class="btn go"  href="{{ path('contributorsCourse', {id:contributor.getId} ) }}">Go somewhere</a></td>
     {# {{ path('contributorsCourses') }} #} 
    </tr>
    {% endfor %}
    
  </tbody>
</table>



{% endblock %}

