{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center mr-auto">
    <h3>Bonjour {{user.email}} </h3>
</div>


    
<div class="container " >
    <div class="card bg-light mb-3" style="width:50vw; ">
         <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i>    <h3>Vos Cours</h3>
         </div>

        <ul>
            {% for course in CoursesUser %}
                <li>
                     
                    {{course.name}}<br>
                    <a href="{{path('course', {id:course.id})}}" class="btn btn-primary">Go somewhere</a>
                </li>
            {% endfor %}
            
        </ul>
    </div>
</div>

<div class="card" style="width: 18rem;">
   <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> les 5 dernier cours </div>
{% for course in Courses %}
    <div class="card-body">
            <h5 class="card-title">{{courses.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <a href="{{path('course', {id:course.id})}}" class="btn btn-primary">Go somewhere</a>
    </div>
{% endfor %}

</div>
{% endblock %}
